*DS_Store
bin
obj
*.suo
*.user
*.userprefs
Source/Solutions/packages/**/*
*.pidb
*pidb
Source/Geekrider.Web/Geekrider.Web.pidb
repositories.config
Source/Geekrider.Web/bifrost.sh

Source/Geekrider.Web/features/Posts/viewModel.js

Source/Geekrider.Web/geekrider.com.tmproj
